# Backend
node_modules/
backend/node_modules/
dist/
backend/dist/
.env
.env.*
backend/.env
backend/coverage/

# Flutter/Dart
mobile/.dart_tool/
mobile/.packages
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.idea/
mobile/.metadata

# IDE/OS
.vscode/
*.iml
.DS_Store
